{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容列表</span></li>
</ol>

<h3>内容列表</h3>
<table class="table table-hover table-striped">

    <tr>
        <th>ID</th>
        <th>分类</th>
        <th>Title</th>
        <th>作者</th>
        <th>添加时间</th>
        <th>阅读量</th>
        <th>Description</th>
        <th>操作</th>
    </tr>
    {% for content in contents %}
    <tr>
        <td>{{content.dataValues.id}}</td>
        <td>{{content.dataValues.category.name}}</td>
        <td>{{content.dataValues.title}}</td>
        <td>{{content.dataValues.user.username}}</td>
        <td>{{content.dataValues.createdAt.toString()}}</td>
        <td>{{content.dataValues.views}}</td>
        <td>{{content.dataValues.description}}</td>
        <td>
            <a href="/admin/content/edit?id={{content.dataValues.id}}">修改</a> |
            <a href="/admin/content/delete?id={{content.dataValues.id}}">删除</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% include 'page.html' %}

{% endblock %}